.form-conatainer {
    box-shadow: 15px 15px 15px 15px lightblue;
  }
  
  .loginform-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .inputelement-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-element {
    padding: 12px;
    width: 250px;
    margin: 10px;
  }
  
  .labelElement {
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    color: #000000;
    padding: 10px;
  }
  
  .login-btn {
    padding: 15px;
    align-self: center;
    margin: 10px;
    color: azure;
    font-size: 16px;
    font-weight: bold;
    background-color: blue;
    border-radius: 10px;
    margin: 10px;
  }
  
  .Error {
    font-size: 15px;
    color: red;
    padding-left: 10px;
  }
  